.selfCont_wrapper{
    display: flex;
    justify-content: center;
    /* height: 70vh; */
    /* margin-top: 5%; */
    align-self: center;
    
}
#self_cont{
    /* display: flex; */
    /* justify-content: center; */
    width: 80vw;
    margin-top: 5rem;
    position: relative;
    animation: fadeIn 0.5ms;
}
#profileImgCont{
    background-color:#4398de;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    border-top-left-radius: 24rem 12rem;
    border-top-right-radius: 19rem 22rem;
    border-bottom-right-radius: 26rem 28rem;
    border-bottom-left-radius: 28rem 40rem;
    /* border-top-left-radius: 2rem 3rem;
    border-top-right-radius: 22rem 22rem;
    border-bottom-right-radius: 19rem 22rem;
    border-bottom-left-radius: 20rem 22rem; */
    overflow-y: hidden;
    position: absolute;
    left: 0;
    animation: fadeIn 3s;
    
}
.profileImg{
    height: 400px;
    width: 400px;
    transition: 3ms;
    /* background-color: aqua; */
}

.profileCont{
    text-align: left;
    display: flex;
    justify-content: end;
    animation: fade-down 1.2s;
}
.profile_{
    /* align-items: center; */
    /* justify-content: start; */
    width: 50%;
    height: 100%;
    /* text-align: right; */
}
.profile_ .name{
    /* width: 500px; */
    color: #4398de;
}
.profile_ h3{
    color: #222121;
    font-size: 4rem;
    
}
.profile_ a{
    background-color: #4398de;
    padding: .5rem 1rem;
    border-radius: 8px;
    color: #ffff;
    margin-right: 50px;
}
.contactSvg{
    margin-top: 13%;
    display: flex;
    justify-content: end;
    /* width: 80vw; */
    gap: 30px;
}
.contactSvg img{
    height: 1.5rem;
}
.contactSvg img:hover > svg * {
    fill: #4398de;
    cursor: pointer;
}
