.selfCont_wrapper{
    display: flex;
    justify-content: center;
    height: 70vh;
    
}
#self_cont{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
#profileImgCont{
    background-color:#4398de;
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    border-top-left-radius: 24rem 12rem;
    border-top-right-radius: 22rem 22rem;
    border-bottom-right-radius: 26rem 28rem;
    border-bottom-left-radius: 28rem 40rem;
    /* border-top-left-radius: 2rem 3rem;
    border-top-right-radius: 22rem 22rem;
    border-bottom-right-radius: 19rem 22rem;
    border-bottom-left-radius: 20rem 22rem; */
    overflow-y: hidden;
    
}
.profileImg{
    height: 400px;
    width: 400px;
}
.profileText .name{
    /* width: 500px; */
    color: #4398de;
}
.profileText h3{
    color: #222121;
    font-size: 4rem;
    
}
.btnCont{
    display: flex;
    justify-content: end;
    gap: 50px;
    /* width: 80vw; */
    /* justify-self: center; */
}
.btnCont a{
    background-color: #4398de;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: #ffff;
}
.contactSvg{
    margin-top: 3%;
    display: flex;
    justify-content: end;
    width: 80vw;
    gap: 30px;
}
.contactSvg img{
    height: 1.5rem;
}
.contactSvg img:hover{
    background-color: #4398de;
}