
.navbar{
    height: clamp(30px, 10vh, 80px);
    /* width: 100vw; */
    padding: 10px 20px;
    align-items: center !important;
    position: sticky !important;
    top: 0; left: 0; right: 0;
    z-index: 10002;
    /* background-color: rgba(200, 15, 15, 0.3);  */
    backdrop-filter: blur(8px); /* Blurs background behind the navbar */
    -webkit-backdrop-filter: blur(8px); /* Safari support */

}
nav .menu_icon{
    display: none;
    height: clamp(15px, 1vh, 1.5rem);
    width: clamp(15px, 1vw, 1.5rem);
    border-radius: 50%;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: clamp(12px, 1.5vw, 18px);
    font-weight: 700;
    color: #6d6767;
    cursor: pointer;
}
li{
    list-style-type: none;
    /* font-size: 16px; */
    font-size: clamp(12px, 1.5vw, 18px);
    font-weight: 600;
    color: #6d6767;
    cursor: pointer;
}
.active{
    border: .1rem solid rgb(13,110,253);
}
ul{
    display: flex;
    gap: 50px;
    padding-left: 0;
    align-items: center;
    margin: 0;
}
.icon-cont{
    /* height: 30px; */
    max-width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    gap: 10px;
}
.icon-cont .icon{
    background-color: #d2d1d6;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container .icon .i{
    font-size: clamp(10px, 1.5vw, 16px);
}
.icon-container .light{
   
    color: #ffdd00;
    text-shadow:  
      0 0 10px #ffdd00, 
      0 0 20px #ffdd00,
      0 0 30px #ffaa00, 
       0 0 40px #ffaa00;
}
.icon-container .dark{
    color: #353637;
    background-color: transparent;
}
.icon-cont .icon:nth-child(2){
    display: none;
}
.menu_icon{
    position: relative;
}
.drop-down-wrapper{
    background-color: rgb(4, 4, 51);
    color: white;
    width: 0%;
    position: absolute;
    top: 100%;
    right: 0;
    transition: linear .5s;
}
.drop-down{
    font-size: clamp(12px, 1.5vw, 18px);
    padding: 20px;
}
.drop-down ul{
    display: block;
}
.drop-down-wrapper.active{
    width: 40%;
}
.drop-down ul li{
    /* margin-bottom: 10px; */
}
.drop-down ul li a{
    color: white;
}
@media screen and (max-width: 800px) {
    .logo{
        margin-left: 0;
    }
    nav .menu_icon{
        display: block;
    }
    .icon-cont .icon:nth-child(2){
        display: block;
        display: flex;
    }
    nav ul{
        display: none;
    }
    .icon-cont{
        justify-content: unset;
    }
}
