.skills_section{
    display: flex;
    justify-content: center;
    animation: appear 2s;
}
.skills_wrapper{
    /* display: flex; */
    /* justify-content: center; */
    width: 80vw;

}
.skills_{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skills_title{
    color: black;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}
.skills_title::after{
    position: absolute;
    background-color: #4398de;
    content: '';
    top: 2rem;
    left: 0;
    right: 0;
    width: 3rem;
    height: .2rem;
    margin: auto;
}
.skills_cont{
    height: 60vh;
}
.skills_cont h3,
.skills_cont p{
    color: black;
}
._progress{
    height: 40px;
    /* border: solid .5px black; */
    margin-bottom: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 4px 4px 14px 5px rgba(87, 85, 85, 0.1);
    position: relative;
}
._progress .img_txt{
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
    width: 500px;
}
._progress img{
    height: 2rem;
    margin-left: 10px;
}
._progress span{
    color: black;
    margin-right: 10px;
}
.bar{
    /* border: .5px solid blue; */
    height: .25rem;
    background-color: #4398de;
    border-radius: .5rem;
    position: absolute;
    top: 90%; left: 0;
}
.__css{
    width: 75%;
}
.__html{
    width: 90%;
}
.__js{
    width: 70%;
}
.__react{
    width: 30%;
}
.__php{
    width: 40%;
}