.selfCont_wrapper{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 5%;
    align-self: center;
    /* background-color: #4398de; */
    
}
#self_cont{
    /* display: flex; */
    /* justify-content: center; */
    width: 90vw;
    max-height: 70vh;
    /* margin-top: 1rem; */
    position: relative;
    animation: fadeIn 0.5ms;
}
#profileImgCont{
    background-color:#4398de;
    /* height: 30rem; */
    /* height: clamp(200px, 15vw , 30rem); */
    /* width: clamp(200px, 15vw , 30rem); */
    /* width: 30rem; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    border-top-left-radius: 24rem 12rem;
    border-top-right-radius: 19rem 22rem;
    border-bottom-right-radius: 26rem 28rem;
    border-bottom-left-radius: 28rem 40rem;
    /* border-top-left-radius: 2rem 3rem;
    border-top-right-radius: 22rem 22rem;
    border-bottom-right-radius: 19rem 22rem;
    border-bottom-left-radius: 20rem 22rem; */
    overflow-y: hidden;
    position: absolute;
    left: 0;
    animation: fadeIn 3s;
    
}
.profileImg{
    /* height: 400px; */
    /* width: 400px; */
    height: clamp(200px, 30vw , 50rem);
    width: clamp(200px, 30vw , 50rem);
    transition: 3ms;
    /* background-color: aqua; */
}

.profileCont{
    text-align: left;
    display: flex;
    justify-content: end;
    animation: fade-down 1.2s;
}
.profile_{
    /* align-items: center; */
    /* justify-content: start; */
    width: 50%;
    height: 100%;
    /* text-align: right; */
}
.profile_ .name{
    /* width: 500px; */
    color: #4398de;
}
.profile_ h3{
    color: #222121;
    /* font-size: 4rem; */
    font-size: clamp(14px, 5vw, 3rem);
}


.contactSvg{
    margin-top: 13%;
    display: flex;
    justify-content: end;
    /* width: 80vw; */
    gap: 30px;
}
.contactSvg img{
    height: clamp(10px, 3vh, 2rem);
    width: clamp(10px, 3vw, 2rem);
}
.contactSvg img:hover > svg * {
    fill: #4398de;
    cursor: pointer;
}
/* media query */
@media screen and (max-width: 320px) {
    #profileImgCont{
        margin-top: 10px;
    }
    .profileImg{
        height: clamp(3px, 4vh , 2rem);
        width: clamp(3px, 4vw , 2rem);
    }
}
@media screen and (max-width: 380px) {
    .profile_ a{
        font-size: 8px;
    }
    .profileImg{
        height: clamp(100px, 10vh , 20rem);
        width: clamp(100px, 10vw , 20rem);
    }
   
}

@media screen and (min-width: 330px) and (max-width: 555px){
    .profile_ h3{
        /* font-size: 2rem; */
    }
    #profileImgCont{
        /* background-color: transparent; */
    }
    .profileImg{
        height: clamp(130px, 10vh , 20rem);
        width: clamp(130px, 10vw , 20rem);
    }
}
