.skills_section{
    display: flex;
    justify-content: center;
    animation: appear 2s;
    margin-bottom: 50px;
}
.skills_wrapper{
    /* display: flex; */
    /* justify-content: center; */
    width: 90vw;

}
.skills_{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skills_title{
    color: black;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}
.skills_title::after{
    position: absolute;
    background-color: #4398de;
    content: '';
    top: 100%;
    left: 0;
    right: 0;
    width: 3rem;
    height: .2rem;
    margin: auto;
}
.skills_cont{
    /* height: 60vh; */
}
.skills_cont h3,
.skills_cont p{
    color: black;
}
._progress{
    height: 40px;
    /* border: solid .5px black; */
    margin-bottom: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 4px 4px 14px 5px rgba(87, 85, 85, 0.1);
    position: relative;
    padding: 10px 0;
}
._progress .img_txt{
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
    width: 500px;
    margin-left: 10px;
}
._progress img{
    height: 2rem;
    margin-left: 10px;
}
._progress span{
    color: black;
    margin-right: 10px;
}
.bar{
    /* border: .5px solid blue; */
    height: .25rem;
    background-color: #4398de;
    border-radius: .5rem;
    position: absolute;
    top: 90%; left: 0;
}
.icon{
    font-size: clamp(1rem, 3vw, 1.8rem );
    /* font-size: 1rem; */
}
.__css{
    width: 75%;
}
.__html{
    width: 90%;
}
.__js{
    width: 70%;
}
.__react{
    width: 30%;
}
.__php{
    width: 40%;
}
.__node{
    width: 40%;
}
.fontAwsomeIcon{
    font-size: clamp(3rem 14vw, 3rem);
}
/* media query */
@media screen and (max-width: 800px){
    .skills_cont{
        width: 100%;
        /* background-color: #4398de; */
    }
    .skills_title,
    .skills_cont h3{
        font-size: clamp(10px, 3vw, 1.2rem);
        /* color: red; */
    }
    .skills_cont p{
        display: unset;
        font-size: clamp(8px, 2vw, 1rem);
        display: flex;
        flex-wrap: wrap;
    }
    .flex{
        /* display: flex;
        flex-wrap: wrap; */
    }
    ._progress{
        font-size: clamp(10px, 2vw, 1rem);
        height: clamp(10px, 5vh, 40px);
        margin-bottom: 10px;
        border-radius: 5px;
        position: relative;
        padding: 5px 0;
        width: 80vw;
    }
    .img_txt img{
        height: clamp(20px, 2vh, 2rem);
        margin-left: 5%;
    }
}