footer{
    background-color: rgb(4, 4, 51);
    height: 200px;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}
.footer{
    /* color: black; */
    width: 80vw;
    text-align: center;
    color: #fff;
}