
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* background-color: red; */
    width: 80vw;

}
nav .menu_icon{
    display: none;
    background-color: #4398de;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #6d6767;
    cursor: pointer;
}
li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
    color: #6d6767;
    cursor: pointer;
}
.active{
    border-bottom: .2rem solid #4398de;
}
ul{
    display: flex;
    gap: 50px;
}
@media screen and (max-width: 800px) {
    nav .menu_icon{
        display: block;

    }
    nav ul{
        display: none;
    }
}