/* @font-face {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  src: url('../../Desktop/Segoe\ UI.ttf');
} */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dark{
  background-color: rgb(96, 92, 92);
  color: white;
}
@keyframes fadeIn {
  0%{
      opacity: 0;
      /* transform: translateY(-30px) scale(0.9); */

  }
  100%{
      opacity: 1;
      /* transform: translateY(0px) scale(1); */
  }    
}
@keyframes fade-down {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appear{
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Media query */
@media screen and (max-width:425px) {
  
}